@using RunGroopWebApp.ViewModels
@model UserDetailViewModel


<input type="hidden" name="id" value="@Model.Id" />
<div class="main-container">
    
           
    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="media">
                        <img alt="Image" src="@Model.ProfileImageUrl" class="mr-md-5 avatar avatar-xlg">
                        <div class="media-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">@Model.UserName</h1>
                               @*  <span class="text-muted"><i class="icon-location"></i>@Model.Location</span> *@
                            </div>
                            <p class="text-muted">Pace: @Model.Pace</p>
                            <p class="text-muted">Mileage: @Model.Milage</p>
                            <p>
                                Bit of a go-getter me, creating lovely things that help others. You'll most often find me out back in the hammock, listening to tunes and bending pixels to my will.
                            </p>
                           
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
